<div class="page">
  <form [formGroup]="contactoForm" (ngSubmit)="onSubmit()">
    
    <div class="sideLeft">
      <div>
        <label class="label">Nombre: </label>
        <input class="textBoxProducto" formControlName="nombre" required/>
      </div>
      <div>
        <label class="label">Apellidos: </label>
        <input class="textBoxProducto" formControlName="apellidos" required/>
      </div>
      <div>
        <label class="label">Edad: </label>
        <input class="textBoxCantidad" type="number" min="18" formControlName="edad" required/>
      </div>
      <div>
        <label class="label">Teléfono: </label>
        <input class="textBoxProducto" formControlName="telefono"/>
      </div>
      <div>
        <label class="label">Email: </label>
        <input class="textBoxProducto" formControlName="email" required/>
      </div>

      <p class="label">
        Form Value: {{ contactoForm.value | json}}
      </p>
      <p class="label">
        Form Status: {{ contactoForm.status }}
      </p>
      <button class="buttonSubmit" type="submit" [disabled]="!contactoForm.valid">Enviar</button>
    </div>
    
  </form>
</div>

